$title-orange: #ff6b00;
$Crete: 'Crete Round', serif;
$Roboto: 'Roboto', sans-serif;
$Poppins: 'Poppins', sans-serif;
$Inter: inter, arial, helvetica, sans-serif;
$dark-background: #1c1a19;
$gray-background: #3c3a39;
