header {
  width: 100vw;
  height: 4rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $gray-background;
  font-family: $Roboto;
  
  a {
    color: #fff;

    &.active {
      color: $green;
    }
  }
  
  h1 {
    font-size: 2.5rem;
  }
}